# Dependency directories
/node_modules

# Git directory and files
.git
.gitignore

# Build outputs
/dist

# Configuration files
Dockerfile
.dockerignore
*.md
*.config.js
*.yaml

# Local TypeScript compilation output
**/*.tsbuildinfo

# Ignore npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env