#This is a local file I used to store my GitHub access token
gitaccess.txt
.env
logging.txt

#Modules folder
node_modules/


#Ignore everything in the /dist folder
dist/

#Autograder
Part-1-CLI-Checker-main/