#This is a local file I used to store my GitHub access token
gitaccess.txt
.env
logging.txt

#Modules folder
node_modules/


#Ignore everything in the /dist folder
dist/

#Coverage file
coverage/
#Autograder
checker.py
helper.py
one-url.txt

__pycache__/